ORBITA_AGENT_REQUIRE_AUTH=1
ORBITA_AGENT_AUTH_MODE=oauth-github
ORBITA_AGENT_HOME=/data
ORBITA_OAUTH_GITHUB_CLIENT_ID=replace-with-github-oauth-client-id
ORBITA_OAUTH_GITHUB_CLIENT_SECRET=replace-with-github-oauth-client-secret
ORBITA_OAUTH_ALLOWED_GITHUB_USERS=DerekEarnhart
